@model IEnumerable<ShiftIn.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
    <a class="btn btn-dark" asp-action="YourEvents">Your Events</a>
</p>
@foreach (var item in Model)
{
    @await Html.PartialAsync("_Event", item);
}