
@{
    ViewData["Title"] = "Profile Required";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You need a profile to do that</h1>
<a asp-action="Create" asp-controller="Profiles" class="btn btn-primary">Create Profile</a>

