@model IEnumerable<ShiftIn.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Forum</h1>
<div class="form-group has-search">
    <form asp-action="Search">
        <div class="input-group">
            <input name="searchtext" type="text" class="form-control" placeholder="Search the Forums">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

</div>
<p>
    <a class="btn btn-success" asp-action="Create">Create a New Thread</a>
</p>

@foreach (var item in Model)
{
    @await Html.PartialAsync("_ForumPost", item)


}
<partial name="_UpvoteScriptpartial">
    <partial name="_ReplyScriptspartial">
        <partial name="_LoadReplyScriptsPartial">
            <partial name="_LikeScripts">
