@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        width: 100%;
        padding: 0px;
        max-width: none;
    }
</style>
<div class="banner-image">
    <div class="banner-text">

        @if (SignInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Welcome back </h1>
            <p class="font-weight-bold">Make a profile | Add your cars | Join a meet | Talk on the Forum </p>
            <a asp-area="" asp-controller="ForumPosts" asp-action="Index" class="btn btn-dark text-white">Visit the Forums</a>
        }
        else
        {
            <h1 class="display-4">Welcome to Shiftin</h1>
            <p class="font-weight-bold">Make a profile | Add your cars | Join a meet | Talk on the Forum </p>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-dark text-white">Join Now</a>
        }



    </div>
</div>

