@model ShiftIn.Models.Car

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-center">Your @(Model.Year + " "+ Model.Make + " " + Model.Model)</h4>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form id="form" enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProfileId" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div id="imagesContainer" class="col-md-12">
                @Html.EditorFor(c => c.CarImages)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-dark" type="button" id="btnAdd" value="Add Image" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Profiles" asp-action="Index">Back to Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Cars/AddCarImage',
                success: function (partialView) {
                    console.log("partialView: " + partialView);
                    $('#imagesContainer').html(partialView);
                }
            });
        });
        function removeImage(carimageid) {
            var data = $('#form').serializeArray(); // convert form to array
            data.push({ name: "carimage", value: carimageid });
            $.ajax({
                async: true,
                data: $.param(data),
                type: "POST",
                url: '/Cars/RemoveCarImage',
                success: function (partialView) {
                    $('#imagesContainer').html(partialView);
                }
            });
            document.getElementById(carimageid).remove();
        }
        
    </script>
}

