@model IEnumerable<ShiftIn.Models.CarImage>

@{
    ViewData["Title"] = "Add Car Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Car Images</h1>
<hr />
<div class="row">
    <
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
